.shadow-custom-anim{
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.185) !important;
  transition: all 0.3s;
}
.shadow-custom-anim:hover{
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
.bg-col{
  background-color: rgb(250,250,250);
}